{% extends 'base.html' %}

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        {% if session.get('usuario') %}
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="text-center py-4">
                <img src="{{ url_for('static', filename='logo.png') }}" class="logo mb-2" alt="Logo">
                <h6>GP Cargo Express</h6>
            </div>
        </nav>
    </div>
</div>


{% block conteudo %}
<div class="login-container">
    <h2>Login</h2>
    <form method="POST">
        <input type="text" name="usuario" placeholder="Usuário" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
    {% with mensagens = get_flashed_messages() %}
      {% if mensagens %}
        <p class="erro">{{ mensagens[0] }}</p>
      {% endif %}
    {% endwith %}
</div>
{% endblock %}

